<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Create new page</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Erwan Giry-Fouquet's blog">
    <meta name="author" content="Erwan Giry-Fouquet">
    <link rel="icon" href="/assets/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <section class="section">
                <div class="section-inner">
                    <h1>Create new page</h1>
                    <label for="title">Title</label>
                    <input type="text" required class="form-control" id="title" placeholder="Enter page title ...">
                    <label for="shortTitle">Short title</label>
                    <input type="text" required class="form-control" id="shortTitle" placeholder="Enter short page title ...">
                    <label for="description">Description</label>
                    <input type="text" required class="form-control" id="description" placeholder="Enter short description ...">
                    <label for="imagePath">Image path</label>
                    <input type="text" required class="form-control" id="imagePath" placeholder="Enter short description ...">
                    <label for="editor1">Content</label>
                    <textarea name="editor1" id="editor1" cols="30" rows="60"></textarea>
                    <button class="btn btn-primary" type="submit" onclick="createPage()">Create</button>
                </div>

            </section>
        </div>
    </div>
</div>


<!-- Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script>
    var createPage = function () {
        // TODO send post request to server and redirect to posts list
        alert("create !");
        var page = {};
        page.title = $("#title").val();
        page.shortTitle = $("#shortTitle").val();
        page.description = $("#description").val();
        page.imagePath = $("#imagePath").val();
        page.content = CKEDITOR.instances.editor1.getData();
        console.log(page);
        $.post("/pages",page,function(data){
            console.log(data);
            if(data.status === "OK"){

                window.location.href = "/admin/page-list";
            }
        })
    }
    CKEDITOR.config.height = 500;
    CKEDITOR.config.contentsCss = "/assets/plugins/bootstrap/css/bootstrap.css";
    CKEDITOR.replace('editor1');</script>
</body>
</html>
